form #user-search {
  color: black;
  background-color: white;
  opacity: 0.8;
  text-align: center;
  padding-top: 2%;
}

.homepage-input-field {
  position: absolute;
  width: 40%;
  top: 30%;
  left: 30%;
}

#homepage-username-search-button {
  display: flex;
  flex-wrap: wrap;
  margin: 5% auto 0;
}
