body {
  background-image: url('https://2.bp.blogspot.com/-2rtYunbQqCk/UPaSh3abX0I/AAAAAAAAA1U/vyX_m2wN3Yk/s1600/HeroesOfNewerth_1920x1080_wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.backgroundContainer {
  width: 100%;
  height: auto;
}
.App-link {
  color: #61dafb;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
